body {
    background-color: #242f44;
    color: white;
    font-family: 'Oswald', sans-serif;
  }
  
  header {
    text-align: center;
    padding: 5px;
  }
  
  h1 {
    font-size: 36px;
    padding: 5px;
    color: #8c6b48;
    background-color: white;
  }
  
  h2 {
    font-size: 24px;
    padding: 3px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.8px;    
  }
  
  h3 {
    font-size: 20px;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 500;
    line-height: 2.7;
    letter-spacing: 0.8px;
  }
  
  table {
    text-align: center;
    margin: 20px auto;
  }
  
  td {
    border: 2px solid #8c6b48;
    width: 300px;
  }

  .menu {
    background-color: #ffffff;
    overflow: hidden;
  }

  .menu-right{
      float: right;
  }

  .menu a{
    float: left;
    color: #8c6b48;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .menu a.active{
    background-color: #380792;
    color: white;
  }

  .menu a:hover{
    background-color: #ddd;
    color: black;
  }
  
  footer {
    margin-top: 50px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 5px;
    background-color: #242f44;
    z-index: 5;
  }
  footer h3 {
    display: inline-block;
    font-size: 14px;
    background-color: #242f44;
  }
  
  .container {
    max-width: 940px;
    margin: 0 auto;
    height: 800px;
  }
  
  
  .left {
    width: 150px;
  }
  